body {
    margin: 0;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    text-align: center;
    font-family: Atma;
}

h1 {
    font-size: 4rem;
    font-family: 'Irish Grover', cursive;
    -webkit-text-stroke: 1px black;
}

.question {
    font-family: 'Irish Grover';
    font-size: 2rem;
}

.answer-btn {
    display: block;
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    font-family: Atma;
}

.junie-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 120px;
}