body {
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;

    font-family: Arial;
}

h1 {
    font-size: 4rem;
}