
body {
    background-image: url("/static/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    font-size: 4rem;
    font-family: 'Irish Grover', cursive;
    -webkit-text-stroke: 1px black;
}

button {
    font-family: 'Atma', cursive;
}

.junie-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 120px;
}