<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;700&family=Irish+Grover&display=swap" rel="stylesheet">

    <title>Animal Folk Quiz</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <img src="{{ url_for('static', filename='junie.png') }}" class="junie-icon">


    <h1>When faced with the unknown, you...</h1>

    <form method="POST">
        <button type="submit" name="answer" value="cat">
            Lean in. The unknown is the whole point.
        </button>

        <button type="submit" name="answer" value="bunny">
            Proceed carefully. The unknown is a risk to manage.
        </button>
    </form>



</body>
</html>